<% content_for :title, "Export Details" %>
<div class="block">
  <div class="block-header">Export Details</div>
  <div class="block-main" id="block-form">
    <p>
      <b>Keywords:</b>
      <%= @export.keywords %>
    </p>

    <p>
      <b>Start date:</b>
      <%= @export.start_date %>
    </p>

    <p>
      <b>End date:</b>
      <%= @export.end_date %>
    </p>

    <p>
      <b>Status:</b>
      <%= @export.current_status %>
    </p>
    
    <p>
      <b>Progress:</b>
      <%= @export.total_progress %>%
    </p>

    <% if @export.status == 2 %>
    <br />
    <p>
      <%= link_to "Click here to resume progress", resume_progress_admin_export_path(@export) %>
    </p>
    <% end %>

    <% if @export.status == 4 %>
    <br />
    <p>
      <%= link_to "Click here to download the export file", "http://stream.finfore.net/csv/#{@export.id}/#{@export.path}" %>
    </p>
    <% end %>

    <p>
      <br />
      <%= link_to 'Back', admin_exports_path, {:class => "link-blank"} %> | 
      <%= link_to 'Edit', edit_admin_export_path(@export), {:class => "link-blank"} %>
    </p>

  </div>
</div>
