<div id="welcome-container">
  <%= link_to image_tag("finfore-logo.png",:border=>0), "http://www.tmoves.com/" %>
</div>
<div id="out">
  <%= link_to "About Us", "/about_us" %> | 
  <%= link_to "Term of Service", "/term_of_service" %> | 
  <%= link_to "Contact Us", "/contact_us" %> | 
  <%= link_to "Alert", new_member_url, :class => "subscribes" %>
</div>
