<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @scanner_account.username %>
</p>

<p>
  <b>Password:</b>
  <%= @scanner_account.password %>
</p>

<p>
  <b>Is used:</b>
  <%= @scanner_account.is_used %>
</p>


<%= link_to 'Edit', edit_scanner_account_path(@scanner_account) %> |
<%= link_to 'Back', scanner_accounts_path %>
