<ul>
  <% @statistics.each do |statistic| %>
    <li><%= link_to statistic[:title],"##{slug(statistic[:title])}" %></li>
  <% end %>
</ul>

<% @statistics.each do |statistic| %>
  <% if statistics[:keywords].present? %>
    <div class="block box-3" id="<%= slug(statistic[:title]) %>">
      <div id="block-table" class="block-main" style="overflow:auto;border:none;">
        <table class="block-main-table">
          <tbody class="tweet_container">
            <tr class="header">
              <th>Keywords</th>
              <th>Tweets 1 Month</th>
              <th>v 6 Month</th>
              <th>Daily Tweets</th>
              <th>v Average</th>
              <th>Audience</th>
              <th>v Average</th>
            </tr>
            <% statistics[:keywords].each do |keyword_traffic| %>
              <tr class="single_row" id="<%= @active_date %>">
                <td>
                  <%= link_to keyword_traffic.keyword_str, keyword_info_address(keyword_traffic) %>
                </td>
                <td>
                  <%= number_with_delimiter(tweet_traffic.tweet_one_month) %>
                </td>
                <td style="text-align:center;vertical-align:top;">
                  <%= keyword_movement(tweet_traffic.tweet_one_month, tweet_traffic.tweet_average_six_months) %>
                </td>
                <td><%= tweet_traffic.tweet_total %></td>
                <td style="text-align:center;vertical-align:top;">
                  <%= keyword_movement(tweet_traffic.tweet_total, tweet_traffic.tweet_average_seven_days) %>
                </td>
                <td><%= tweet_traffic.audience_total %></td>
                <td style="text-align:center;vertical-align:top;">
                  <%= keyword_movement(tweet_traffic.audience_total, tweet_traffic.audience_average_fourteen_days) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>
<div style="clear:both;">&nbsp;</div>
