.content-box-3{:style => "width:100%; margin:0 auto;"}
  .block{:style => "float:left;width:850px;position:relative;overflow:hidden;margin-right:10px;"}
    .block-header
      Featured Chart : #{@keyword.title}
    #block-table.block-main
      #tab-history
        - if @chart_type == "average"
          .average_chart{:style => "height:250px;"}
            = image_tag("indicator.gif")
            loading averages chart ...
        - else
          .audience_chart{:style => "height:250px;"}
            = image_tag("indicator.gif")
            loading audiences chart ...
  .block{:style => "float:left;width:250px;position:relative;overflow:hidden;margin-right:10px;"}
    .block-header
      Site Statistics
    #block-table.block-main
      %table.block-main-table
        %tbody
          %tr.header
            %th Keyword Tracked
            %th Tweets
          %tr.single_row
            %td 1 Month
            %td.tweet_month1 loading ...
          %tr.single_row
            %td 6 Months
            %td.tweet_month6 loading ...
          %tr.single_row
            %td Total Database
            %td.total_db{:style => "font-weight:bold;font-size:16px;"}loading ...
  %div{:style => "clear:both"}  
%h1 Tracked Keywords
%p{:style => "font-size:12px;"} (*) A Green Arrow indicates that the Tweet volume in the last month is more than 50% greater than the average over the last 6 months. A Red Arrow indicated that Tweet volume was less than 75% of the average. No indicator implies that Tweet volume over the last month was between 75% and 150% of the average over the last 6 months.
%p  
#block-tab.content-box-3{:style => "width:95%; margin:0 auto;"}
  .block{:style => "border-top:1px solid"}
    #block-table.block-main
      = image_tag("indicator.gif")
      preparing tabs ...
%script{:src => "http://www.google.com/jsapi", :type => "text/javascript"}
:javascript
  google.load('visualization', '1', {'packages':['corechart','annotatedtimeline']});
- if @chart_type == "average"
  :javascript
    $(document).ready(function(){
      $(".average_chart").lineChart({
        url: "/average_statistic/#{@keyword.title.gsub(/\s/,'-')}/#{@keyword.id.to_s}.json",
        parameters: {},
        title: "DAILY TWEETS V 7 DAY AVERAGE, LAST 2 MONTHS",
        api: google,
        colors: ['blue','red','orange'],
        series: {0:{targetAxisIndex:0,visibleInLegend: true},1:{targetAxisIndex:0,visibleInLegend: true},2:{targetAxisIndex:1, visibleInLegend: true}}, vAxes: {0:{title:'No. of Tweets',textStyle:{color: 'blue'}}, 1:{title:'Price (US$)',textStyle:{color: 'orange'}}},
        displayLegend: "top"
      });
    });
- else 
  :javascript
    $(document).ready(function(){
      $(".audience_chart").lineChart({
        url: "/follower_weight/#{@keyword.title.gsub(/\s/,'-')}/#{@keyword.id.to_s}.json",
        parameters: {"audience":true},
        title: "DAILY AUDIENCES & TWEETS, LAST 14 DAYS",
        api: google,
        displayLegend: "top",
        series: [{targetAxisIndex:0,visibleInLegend: true},{targetAxisIndex:1, visibleInLegend: true}],
        vAxes: {0:{title:'Audience',textStyle:{color: 'orange'}}, 1:{title:'No. of Tweets',textStyle:{color: 'blue'}}},
        colors: ['orange','blue']
      });
    });
:javascript
  $(document).ready(function(){
    $.get("/total_records?month=1", {},
      function(response) {
        if(response && response != ""){
          var _total_page = $.formatNumber( response, {format:"#,000"} )
          $("td.tweet_month1").html(_total_page);
        }else{
          $("td.tweet_month1").html('TimeOut');
        }
    });
    $.get("/total_records?month=6", {},
      function(response) {
        if(response && response != ""){
          var _total_page = $.formatNumber( response, {format:"#,000"} )
          $("td.tweet_month6").html(_total_page);
        }else{
          $("td.tweet_month6").html('TimeOut');
        }
    });
    var reload_total_records = function(){
      clearInterval(refresh_total_page);
      $.get("/total_records", {},
        function(response) {
          if(response && response != ""){
            var _total_page = $.formatNumber( response, {format:"#,000"} )
            $("td.total_db").html(_total_page);
          }else{
            $("td.total_db").html('TimeOut');
          }
          refresh_total_page = setInterval(reload_total_records, 5000);
      });
    };
    var refresh_total_page = setInterval(reload_total_records, 3000);

    $.get("/categories_tab",{},function(response){
      $( "#block-tab" ).html(response);
      $( "#block-tab" ).tabs(); 
    })
  });
