<div class="block-main" id="block-form">
  <%= form_for [:admin,@category] do |f| %>
   <% if @category.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@category.errors.count, "error") %> prohibited this keyword from being saved:</h2>

       <ul>
       <% @category.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
       </ul>
     </div>
   <% end %>

    <p class="header">Title</p>
    <div class="form-container">
      <%= f.text_field :title %>
    </div>
    <br/>
    <br/>
    <p class="header">&nbsp;</p>
    <div class="form-container">
      <input type="submit" name="commit" value="Save" class="button" id="submit" style="left:0px"/>
      <div id="cancel" class="button" style="left:90px">
        <%= link_to 'Cancel', admin_keyword_categories_path, {:class => "link-blank",:style=>"text-decoration:none;color:white;"} %>
      </div>
    </div>

  <% end %>
</div>
