<style>
 .myDragClass{
   background: #CCCFFF;
 }
</style>

<% content_for :title, "keyword categories" %>
<span id="welcome">Listing keyword categories</span>
<br />
<div class="block">
  <div class="block-header">
    <%= link_to "Create New Category", new_admin_keyword_category_path, {:class => 'link-custom'} %>
    <div id="type-selector">
         <%= link_to "Save Orders", "#", {:class => 'link-custom save_orders', :onclick=> "javascript:check_orders();"} %>
    </div>
  </div>
  <div id="block-table" class="block-main">
    <table class="block-main-table" id="category_table">
      <tbody>
        <tr>
          <th width="70%">Categories</th>
          <th width="10%">Keywords</th>
          <th>Action</th>
        </tr>
        <% @categories.each do |category| %>
          <tr id="<%= category.id %>">
            <td><%= category.title %></td>
            <td><%= link_to category.keywords.count, admin_keywords_path({:cat=> category.id}) %></td>
            <td>
                <%= link_to image_tag("icon-edit.png", {:border => 0}), edit_admin_keyword_category_path(category) %> <span>Edit</span> | 
                <%= link_to image_tag("icon-cancel.png", {:border => 0}), admin_keyword_category_path(category), :confirm => 'Are you sure?', :method => :delete %>
                <span>Delete</span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
var orders = "";

$(document).ready(function() {
 $("#category_table").tableDnD({
   onDragClass: "myDragClass",
   onDrop: function(table, row) {
             var rows = table.tBodies[0].rows;
             orders = "";

             for (var i=1; i<rows.length; i++) {
                orders += rows[i].id+",";
             }
           }
 });
});
 function check_orders(){
   var _parameters = "?orders="+orders;
   window.location = "<%= url_for(save_orders_admin_keyword_categories_path) %>" + _parameters;
 }
</script>