= form_for(@tweet_user) do |f|
  - if @tweet_user.errors.any?
    #error_explanation
      %h2
        = pluralize(@tweet_user.errors.count, "error")
        prohibited this tweet_user from being saved:
      %ul
        - @tweet_user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .field
    = f.label :followers_count
    %br/
    = f.text_field :followers_count
  .field
    = f.label :statuses_count
    %br/
    = f.text_field :statuses_count
  .field
    = f.label :url
    %br/
    = f.text_area :url
  .field
    = f.label :location
    %br/
    = f.text_field :location
  .field
    = f.label :friends_count
    %br/
    = f.text_field :friends_count
  .field
    = f.label :favourites_count
    %br/
    = f.text_field :favourites_count
  .field
    = f.label :time_zone
    %br/
    = f.text_field :time_zone
  .field
    = f.label :is_protected
    %br/
    = f.check_box :is_protected
  .field
    = f.label :profile_image_url
    %br/
    = f.text_area :profile_image_url
  .field
    = f.label :screen_name
    %br/
    = f.text_field :screen_name
  .field
    = f.label :lang
    %br/
    = f.text_field :lang
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :notifications
    %br/
    = f.text_area :notifications
  .field
    = f.label :twitter_id
    %br/
    = f.text_field :twitter_id
  .field
    = f.label :joined_at
    %br/
    = f.datetime_select :joined_at
  .field
    = f.label :listed_count
    %br/
    = f.text_field :listed_count
  .actions
    = f.submit