<% content_for :title, "Chart Types" %>
<span id="welcome">Listing Chart Types</span>
<br />
<div class="block">
  <div class="block-header">
    <%= link_to "Create New Chart Type", new_admin_chart_type_path, {:class => 'link-custom'} %>
  </div>
  <div id="block-table" class="block-main">
    <table class="block-main-table" id="keyword_table">
      <tbody>
        <tr>
          <th width="40%">Title</th>
          <th>Data</th>
          <th>Period</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
        <% @chart_types.each do |chart_type| %>
          <tr>
            <td><%= chart_type.title %></td>
            <td><%= display_chart_data(chart_type)  %></td>
            <td><%= display_chart_period(chart_type)  %></td>
            <td><%= chart_type.category %></td>
            <td>
              <%= link_to image_tag("icon-edit.png", {:border => 0}), edit_admin_chart_type_path(chart_type) %> <span>Edit</span> | 
              <%= link_to image_tag("icon-cancel.png", {:border => 0}), admin_chart_type_path(chart_type), :confirm => 'Are you sure?', :method => :delete %>
                <span>Delete</span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
