<div class="block-main" id="block-form">
  <%= form_for [:admin,@user] do |f| %>
   <% if @user.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

       <ul>
       <% @user.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
       </ul>
     </div>
   <% end %>

    <p class="header">Email</p>
    <div class="form-container">
      <%= f.text_field :email %>
    </div>
    <br/>
    <p class="header">Password</p>
    <div class="form-container">
      <%= f.password_field :password %>
    </div>
    <br/>
    <p class="header">Password Confirmation</p>
    <div class="form-container">
      <%= f.password_field :password_confirmation %>
    </div>
    <br/>
    <br/>
    <p class="header">&nbsp;</p>
    <div class="form-container">
      <input type="submit" name="commit" value="Save" class="button" id="submit" style="left:0px"/>
      <div id="cancel" class="button" style="left:90px">
          <%= link_to 'Cancel', admin_users_path, {:class => "link-blank",:style=>"text-decoration:none;color:white;"} %>
      </div>
    </div>

  <% end %>
</div>