<% content_for :title, "Subscribe Report" %>

<div id="login-panel">
  <span id="title">TMoves Alert</span><br />
  <span id="login-subtitle">Please enter your email address here, and we shall send you a daily email, summarising all the keywords that have seen a significant increase or decrease in activity, relative to the last few weeks.</span>
  <div id="login-form">
    <%= form_for("member", :url => members_path, :html => {:id=>"ajaxform"}, :method => "post") do |f| %>
      <div id="login-username" class="right">Full Name</div>
      <%= f.text_field :name %>
      <span id="error_full_name" style="display:none;"><img class="error" src="/images/button-error.png" />Error Full Name</span>
      <div class="login-delimiter">&nbsp;</div>
      <div id="login-email" class="right" style="float:left;padding-right:40px;">Email</div>
      <%= f.email_field :email %>
      <span id="error_email" style="display:none;"><img class="error" src="/images/button-error.png" />Error Email</span>
      <br/>
      <%= f.hidden_field :is_subscriber, :value=>true %>
      <%= f.submit 'Subscribe', {:id => 'login-signin', :class => 'button', :style=>"margin-left:75px;margin-top:20px;"} %>
    <% end %>
    <div class="login-delimiter">&nbsp;</div>
  </div>
</div>
<script>
	$(document).ready(function() {
		$('#ajaxform').live('submit', function(e) {
            $.alphaRegex = /^[a-zA-Z\ \']+$/;
            $.emailRegex = /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i;
			e.preventDefault(); // <-- important
            $.is_error = false;
            $('#error_full_name').fadeOut();
            $('#error_email').fadeOut();

			if(!$.alphaRegex.test($('#member_name').val())){
              $.is_error = true; $('#error_full_name').fadeIn();}

			if(!$.emailRegex.test($('#member_email').val())){
              $.is_error = true; $('#error_email').fadeIn();}
//{'name' : $('#member_name').val(), 'email' : $('#member_email').val(), 'is_subscriber' : $('#member_is_subscriber').val()},
            if(!$.is_error){
			  $.post($(this).attr('action'),
                                 $(this).serialize(),
					 function(response){
                        $('#login-subtitle').html("<p>Thank you for your subscription, please confirm your email to activate subscription.</p>");
                        $('#login-form').remove();
                     });
            }
            return false;
		});
	});
</script>

